@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600;700&family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600&family=Roboto+Condensed:wght@300;400&family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --bg-color-1: #431407;
  --bg-color-2: #78350f;
  --bg-color-3: #f59e0b;
  --bg-color-4: #3b82f6;
  --font-color-1: #fff;
  --font-color-2: #f59e0b;
  --font-color-3: #3b82f6;
  --font-color-4: #431407;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border: 5px solid black;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  color: var(--font-color-1);
  background-color: var(--bg-color-1);
}

.container-wrapper {
  height: 100%;
  position: relative;
  padding-bottom: 100px;
  background: 
  radial-gradient(
    circle at center,
    var(--bg-color-3) 0%,
    var(--bg-color-3) 35%,
    var(--bg-color-2) 35%,
    var(--bg-color-2) 45%,
    var(--bg-color-1) 45%,
    var(--bg-color-1) 100%
  );
}

.icon-wrapper,
.profile-wrapper,
.navbar {
  filter: drop-shadow(0 4px 10px rgba(0,0,0,0.5));
}

.icon-wrapper {
  padding-top: 150px;
  transform: translateX(-40px);
}

.icon {
  margin: 0 auto;
  border-radius: 10px;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  height: 90px;
  width: 90px;
  background: radial-gradient(
    circle at 90% 5%,
    transparent 15px,
    var(--bg-color-1) 16px);
  position: relative;
}

.icon-logo {
  padding: 23px 0;
}

.number {
  background: var(--bg-color-4);
  color: var(--font-color-4);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 19px;
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: -9px;
  right: -4px;
}

.profile-wrapper {
  width: 18vw;
  background: var(--bg-color-1);
  border-radius: 10px;
  text-align: center;
  position: absolute;
  top: 16%;
  right: 31%;
}

.profile-photo {
  padding-top: 50px;
}

.profile-photo img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 20px solid black;
}

.profile-name p:first-child {
  font-size: 32px;
  font-weight: 300;
  padding-top: 10px;
}

.profile-name p:last-child {
  font-size: 18px;
  padding-top: 10px;
  color: var(--font-color-2);
}

.acc-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 40px 0;
}

.posts p:first-child,
.following p:first-child,
.followers p:first-child {
  font-weight: 700;
  font-size: 20px;
}

.posts p:last-child,
.following p:last-child,
.followers p:last-child {
  font-size: 14px;
  color: var(--font-color-2);
}

.follow-btn {
  background: var(--bg-color-4);
  color: var(--font-color-4);
  font-size: 14px;
  font-weight: 500;
  padding: 10px 50px;
  display: inline-block;
  margin-bottom: 40px;
  border-radius: 3px;
  cursor: pointer;
}

.comments-wrapper {
  width: 35vw;
  margin: 10px auto;
  background: var(--bg-color-1);
  border-radius: 10px;
  padding: 0 30px;
}

.comments-wrapper h4 {
  padding: 30px 0;
}

.comment {
  display: flex;
  gap: 25px;
  padding-bottom: 40px;
}

.comment p {
  font-size: 14px;
}

.comment span {
  font-size: 12px;
  font-weight: 300;
  padding-left: 5px;
  color: var(--font-color-2);
}

.comment-input {
  padding: 5px 0;
}

.reply-btn {
  padding-bottom: 10px;
  color: var(--font-color-3);
}

.view-more svg {
  width: 16px;
  transform: translateY(3px);
  color: var(--font-color-1);
}

.view-more p {
  font-weight: 700;
}

.user-photo img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: var(--bg-color-1);
  width: 40vw;
  transform: translateX(47px);
  border-radius: 10px;
  margin: 0 auto;
  padding: 25px 0;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.gallery, 
.note {
  display: flex;
  align-items: center;
  color: var(--font-color-2);
  font-size: 18px;
  padding-left: 30px;
  gap: 5px;
}

.navbar-left svg {
  width: 20px;
  vertical-align: baseline;
}

.profile-photo-small {
  padding-right: 20px;
}

.notifications {
  position: relative;
  padding-right: 10px;
}

.unread-msg {
  position: absolute;
  top: 0;
  right: 30%;
  background: var(--bg-color-4);
  color: var(--font-color-4);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 19px;
  font-weight: 700;
  text-align: center;
}

.notifications svg {
  width: 45px;
  color: var(--font-color-2);
  /* margin-top: 4px; */
}

.profile-photo-small img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 8px solid black;
}